
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<%name="siva"%>

</head>
<body>
 
<form action="/" method="post">
    <input type="text" name="name">
    <input type="submit" name="" id="">
</form>

<%if(names.length>0){%>
    <%for(let i=0;i<names.length;i++){%>
        <li><%=names[i]%></li>
        <%}%>

        <%}else{%>
            <h1>no data found</h1>
<%}%>
</body>
</html>